<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initital-scale=1" />
    <title>Contact Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
</html>

<body id="contact-page">
    <a class="nav-link" href="/">Homepage</a>
    <a class="nav-link" href="/projects">Projects</a>
    <a class="nav-link" href="/skills">Skills</a>
    <a class="nav-link" href="/work">Work</a>

  <h2>Contact Me</h2>
</body>

<form action="/submit_contact" method="post">
    <label for="fullname">Full Name:</label><br>
    <input type="text" id="fullname" name="fullname" required><br>
    
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>
    
    <input type="submit" value="Submit">
</form>
  