<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initital-scale=1" />
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body id="projects-page">
    <a class="nav-link" href="/">Homepage</a>
    <a class="nav-link" href="/skills">Skills</a>
    <a class="nav-link" href="/work">Work</a>
    <a class="nav-link" href="/contact">Contact Me</a>

    <div class="project-row">
      <div class="glass project-box">
        <h2>Shell Recreation</h2>
        <p>Made a working terminal where you can run commands in like any other terminal.</p>
        <img src="{{ url_for('static', filename='images/shell1.png') }}" alt="Project 1">
        <img src="{{ url_for('static', filename='images/shell2.png') }}" alt="Project 1">
      </div>

      <div class="glass project-box">
        <h2>Stock Web Scraper</h2>
        <p>Web scrapers that scrapes Yahoo Finance to fetch stock information.</p>
        <img src="{{ url_for('static', filename='images/stock.png') }}" alt="Project 2">
        <img src="{{ url_for('static', filename='images/v6cvs.png') }}" alt="Project 2">
      </div>
    </div>
  </body>
</html>
