<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initital-scale=1" />
    <title>Skills</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>

  <body id="skills-page">
    <a class="nav-link" href="/">Homepage</a>
    <a class="nav-link" href="/projects">Projects</a>
    <a class="nav-link" href="/work">Work</a>
    <a class="nav-link" href="/contact">Contact Me</a>

    <div class="clearfix">

      <div class="glass left">
        <h2>Art</h2>
        <p>Graphic Design, Drawing, Painting</p>
        <img src="{{ url_for('static', filename='images/luffy.jpg') }}" alt="Drawing of Luffy">
      </div>

      <div class="glass right">
        <h2>Photography</h2>
        <p>Landscape, Portrait, Real-Estate</p>
        <img src="{{ url_for('static', filename='images/sister.jpeg') }}" alt="Black Forest in Germany">
      </div>

      <div class="glass left">
        <h2>Programming</h2>
        <p>Python, C, C++, Assembly Language, HTML, CSS</p>
      </div>

      <div class="glass right">
        <h2>3D Modeling</h2>
        <p>Autodesk, AutoCAD, Solidworks</p>
      </div>
    </div>
  </body>
</html>

